body {
    font-family: Arial, sans-serif;
    color:white;
}

h1, h2 {
    text-align: center;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

button {
    background-color: #223dd4;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.cart-container {
    margin-top: 20px;
    text-align: center;
}

#cart-items {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: left;
}

button {
    background-color: #223dd4;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

section {
    font-family: 'Avenir', sans-serif;
    color:white;
  }
  